<!DOCTYPE html>
<html >

<head>
  <meta charset="UTF-8">
  <title>Incident Resolution Meets SLA Predictor</title>

</head>

<body>
 <div>
    <h1>Incident Resolution Meets SLA Predictor</h1>

    <form action="{{ url_for('predict')}}"method="post">
        <input type="text" name="length" placeholder="category" required="required" />
        <input type="text" name="width" placeholder="opened_by" required="required" />

        <button type="submit" class="btn">Predict</button>
    </form>

   <br>
   <br>
   <b>{{ prediction_text }}</b>

 </div>


</body>
</html>
